/*
Use map.get() to reference the values below.
*/
@keyframes mfe-tooltip-infinite-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* TODO remove most of this when the dhig tooltip classes are created */
.cmp-tooltip {
  position: absolute;
  z-index: 1300;
  border-radius: 4px;
  visibility: hidden;
  width: max-content;
  padding: 0 1rem 0 1rem;
}
.cmp-tooltip.visible {
  visibility: visible;
}
.cmp-tooltip--small {
  max-width: 200px;
}
.cmp-tooltip--medium {
  max-width: 300px;
}
.cmp-tooltip--large {
  max-width: 400px;
}

#mfe-tooltip.dhig-theme--light .cmp-tooltip {
  color: #FFFFFF;
  background-color: #333333;
}
#mfe-tooltip.dhig-theme--light .cmp-tooltip * {
  color: inherit;
}
#mfe-tooltip.dhig-theme--light .cmp-tooltip a {
  text-decoration-color: #FFFFFF;
}
#mfe-tooltip.dhig-theme--light .cmp-tooltip a:hover {
  text-decoration-color: #8080FF;
}
#mfe-tooltip.dhig-theme--light .arrow {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  z-index: 1300;
}
#mfe-tooltip.dhig-theme--light .arrow.visible {
  visibility: visible;
}
#mfe-tooltip.dhig-theme--light .arrow.bottom {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333333;
}
#mfe-tooltip.dhig-theme--light .arrow.top {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333333;
}
#mfe-tooltip.dhig-theme--light .arrow.left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333333;
}
#mfe-tooltip.dhig-theme--light .arrow.right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #333333;
}

.tooltip-icon {
  cursor: pointer;
}
/* TODO remove most of this when the dhig tooltip classes are created */
#mfe-tooltip.dhig-theme--dark .cmp-tooltip {
  color: #000000;
  background-color: #F9F9F9;
}
#mfe-tooltip.dhig-theme--dark .cmp-tooltip * {
  color: inherit;
}
#mfe-tooltip.dhig-theme--dark .cmp-tooltip a {
  text-decoration-color: #000000;
}
#mfe-tooltip.dhig-theme--dark .cmp-tooltip a:hover {
  text-decoration-color: #8080FF;
}
#mfe-tooltip.dhig-theme--dark .arrow {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  z-index: 1300;
}
#mfe-tooltip.dhig-theme--dark .arrow.visible {
  visibility: visible;
}
#mfe-tooltip.dhig-theme--dark .arrow.bottom {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #F9F9F9;
}
#mfe-tooltip.dhig-theme--dark .arrow.top {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #F9F9F9;
}
#mfe-tooltip.dhig-theme--dark .arrow.left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #F9F9F9;
}
#mfe-tooltip.dhig-theme--dark .arrow.right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #F9F9F9;
}

/*# sourceMappingURL=standard.css.map*/